.Transion_page3 {
    background: #E59926;
    font-family: Poppins;
    .Feather_wing{
        mix-blend-mode: luminosity;
    }
    .SocialMedia_Icon{
        .Social_Icon_BG{
            fill: #FFD439 !important;
        }
    }
    .paper{
        fill: #FFD439 !important;
    }
  
    .FirstService_Images {
        background: #E59926;
    }
    .Wing_Orange{
            opacity: 1 !important;
    }
    .Wing{
opacity:  0 !important;
    }
.Element3{
display: none;
}
.Polygon_Right{
    transform: translateX(-100vw);
}
.Orange_Girl{
    opacity: 1;
    }
    .Normal_Girl{
    opacity: 0;
    }
    .remove-in-page-three{
        display: none;
    }
}
.ThirdService_page{
    max-width: 100vw;
    position: relative;
    transition: .4s ease-in-out;
    display: none;    
    position: absolute;
    top: 39vw;
    right: 4vw;
    width: 65vw;
    .images{
        width: 100%;
        // background: red;
        height: 16vw;
        display: flex;
    }
    .down-image{
        margin-top: 7vw;
    }
    .img-service-container{
        margin-left: 1vw;
        width: 17vw;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        border-radius: 3vw;
        z-index: 999999;
        img{
            width: 100%;
            object-fit: fill;
            height: 100%;
            z-index: 99999999999999 !important;
            &:hover{
                transform: scale(1.2);
            }
        }
    }

 
    .second-row-third-service{
        text-align: center;
        width: 30vw;
        min-height: 10vw;
        border-radius: 1.5vw;
        background: #D9D9D9;
        padding-inline: 0.5vw;
        margin-top: 1.5vw;
        transform: translatex(.4vw);
        h2{
            background: #FFD339;
            font-size: 2vw;
            line-height: 3vw; /* 161.011% */
            width: 18vw;
            margin-inline: auto;
            font-weight: 900;
            border-bottom-left-radius:4vw ;
            border-bottom-right-radius:4vw ;
            margin-bottom: 1vw;   
        }
        p{
            color: #000;
            text-align: center;
            font-size: 1vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.2vw; /* 137.423% */
        }
    }
    .card-service-third-row-p{
        width: 90%;
        padding-bottom: 1vw;
    }
    .third-row-service-third{
        display: flex;
        width: 66vw ;
        margin-top: 6.7vw;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translateX(1vw);
        position: relative;
        .img-service-container-third-row{
            width: 35vw;
            right: 2.2vw;
            position: absolute;
            top: 1vw;
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 13vw;
            object-fit: fill;
            border-radius:3vw ;
            background: black; 
            img{
                width: 95%;
                height: 85%;
                border-radius:3vw ;
                object-fit: contain;
            }
        }
    }
    .Services3_Elements{
        position: absolute;
        top: -12vw;
        right: -5vw;
    }
    .Services3_Elements_Container{
        position: relative;
    }
    .Elements3{        
        position: absolute;
        top: 4vw;
        left: 4vw;
        width: 20vw;
        z-index: 9999999999;
        cursor: pointer;
    }
    .Polygon4_Right{
        width: 27vw;
    }
}



.ar{
    .second-row-third-service{
        h2{
            font-family: BNoor !important;
        }
        p{
            font-family:  Noor !important;
        }
    }
}