.CategorySection{
    width: 100vw;
    height:100vh;
    background: rgba(25, 149, 202, 0.80);
    display: flex;align-items: center;
    justify-content: space-around;
    //  justify-content: center;
    .product_swiper{
        display: flex;
        //  align-items: center;justify-content: space-around ;
        .product_swiper_container{
            overflow: initial !important;
            display: flex !important; 
        }
        width: 50%;
        .img_container{

            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline: 4vw;
            img{
                width: 20vw;
                z-index: 99992;
            }
            
        }
       .ProductCard{
        display: flex;
        width: 80% !important;
       }
    }
}



