.Home2{
    
    .Home2_Services{
        position: absolute;
        left: 20vw;
        font-family: Poppins;
    
        gap: 4vw ;
        max-width: 100%;
            transform: translateY(26vw);
            -webkit-transform: translateY(26vw);
            -moz-transform: translateY(26vw);
            -ms-transform: translateY(26vw);
            -o-transform: translateY(26vw);
        
        display: flex;
      


    }
      .Home2_Services2{
            position: absolute; 
            font-family: Poppins;
        
            left: 20vw;
            gap: 4vw ;
            max-width: 100%;
            transform: translateY(47vw);
            -webkit-transform: translateY(47vw);
            -moz-transform: translateY(47vw);
            -ms-transform: translateY(47vw);
            -o-transform: translateY(47vw);
            
            display: flex;
}

}
